<div *ngIf="modeForm">
  <h1>{{name.value}}</h1>
  <form id="mode-form" [formGroup]="modeForm" (ngSubmit)="onSubmit()">
    <mat-label>{{modeType.name}}</mat-label><br>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text">
      <mat-error *ngIf="relevantInvalid(name) && name.errors.required">
        You must provide a <strong>name</strong>.
      </mat-error>
      <mat-error *ngIf="relevantInvalid(name) && name.errors.uniqueModeName">
        You already have a mode with the same <strong>name</strong>.
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="hasMultipleCubeSizes">
      <mat-label>Cube Size</mat-label>
      <input matInput formControlName="cubeSize" type="number" [value]="defaultCubeSize">
      <mat-error *ngIf="relevantInvalid(cubeSize) && cubeSize.errors.required">
        You must provide a <strong>cube size</strong> for this mode type.
      </mat-error>
      <mat-error *ngIf="relevantInvalid(cubeSize) && cubeSize.errors.minNumber">
        The <strong>cube size</strong> has to be at least {{minCubeSize}} for this mode type.
      </mat-error>
      <mat-error *ngIf="relevantInvalid(cubeSize) && cubeSize.errors.maxNumber">
        The <strong>cube size</strong> can be at most {{maxCubeSize}} for this mode type.
      </mat-error>
      <mat-error *ngIf="relevantInvalid(cubeSize) && cubeSize.errors.odd">
        The <strong>cube size</strong> has to be odd for this cube size.
      </mat-error>
      <mat-error *ngIf="relevantInvalid(cubeSize) && cubeSize.errors.even">
        The <strong>cube size</strong> has to be even for this cube size.
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="hasBuffer">
      <mat-label>Buffer</mat-label>
      <mat-select formControlName="buffer">
        <mat-option *ngFor="let buffer of modeType.value.buffers" [value]="buffer"> {{buffer}} </mat-option>
      </mat-select>
      <mat-error *ngIf="relevantInvalid(buffer) && buffer.errors.required">
        You must provide a <strong>buffer</strong> for this mode type.
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="hasMultipleShowInputModes">
      <mat-label>show input mode</mat-label>
      <mat-select formControlName="showInputMode">
        <mat-option *ngFor="let showInputMode of modeType.value.showInputModes" [value]="showInputMode"> {{showInputMode}} </mat-option>
      </mat-select>
      <mat-error *ngIf="relevantInvalid(showInputMode) && showInputMode.errors.required">
        You must select a <strong>show input mode</strong> for this mode type.
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="hasGoalBadness">
      <mat-label>Goal Time per Element</mat-label>
      <input matInput formControlName="goalBadness" type="number">
      <mat-error *ngIf="relevantInvalid(goalBadness) && goalBadness.errors.required">
        You must provide a <strong>goal badness</strong> for this mode type.
      </mat-error>
      <mat-error *ngIf="relevantInvalid(goalBadness) && goalBadness.errors.numeric">
        The <strong>goal badness</strong> has to be a positive number.
      </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="known">Known</mat-checkbox>
  </form>
  <button mat-raised-button type="submit" form="mode-form" color="primary" (click)="onSubmit()">Save</button>
  <button mat-raised-button color="primary" (click)="onUse()">Use</button>
  <button mat-raised-button color="primary" (click)="onDelete()">Delete</button>
  <button mat-raised-button color="primary" (click)="onAll()">All Modes</button>
</div>
