<div>
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-error *ngIf="relevantInvalid(nameControl) && nameControl.errors && nameControl.errors['required']">
        You must provide a <strong>username</strong>.
      </mat-error>
      <mat-error *ngIf="relevantInvalid(nameControl) && nameControl.errors && nameControl.errors['uniqueUsernameOrEmail']">
        This <strong>username</strong> is already taken.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error *ngIf="relevantInvalid(emailControl) && emailControl.errors && emailControl.errors['required']">
        You must provide an <strong>email</strong>.
      </mat-error>
      <mat-error *ngIf="relevantInvalid(emailControl) && emailControl.errors && emailControl.errors['email']">
        You must provide a valid <strong>email</strong>.
      </mat-error>
      <mat-error *ngIf="relevantInvalid(emailControl) && emailControl.errors && emailControl.errors['uniqueUsernameOrEmail']">
        This <strong>email</strong> is already taken.
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="editUserForm.pristine || !editUserForm.valid">Save</button>
  </form>
</div>
