@if (trainingSession) {
  <cube-trainer-stopwatch
    [duration]="duration$ | async"
    [startReady]="nextCaseReady"
    [running]="running"
    [memoTime]="memoTime"
    [hasStopAndPause]="!useOverlayTimer"
    [hasStopAndStart]="hasStopAndStart && !useOverlayTimer"
    (startt)="useOverlayTimer ? onStartDialog(trainingSession) : onStart(trainingSession)"
    (stopAndPause)="useOverlayTimer ? undefined : onStopAndPause(trainingSession)"
    (stopAndStart)="useOverlayTimer ? undefined : onStopAndStart(trainingSession)">
  </cube-trainer-stopwatch>
}
