<div>Hi <%= @user.name %>,</div>

<div>Thanks for registering your CubeTrainer account! To confirm your registration click the URL below.</div>

<div><a href="<%= @confirm_url %>">Confirm Email Address</a></div>

<div>If for some reason the link doesn't work, please use this URL: <%= @confirm_url %></div>
