<div id="stopwatch-dialog" class="stopwatch-dialog" [ngClass]="{'post-memo-time': (isPostMemoTime$ | async)}">
  <div mat-dialog-title id="stopwatch-trainer-input" class="trainer-input-container" (click)="stopAndStart()">
    @if (showTrainerInput) {
      @if (nextCase$ | async; as nextCase) {
        <cube-trainer-trainer-input
          [scrambleOrSample]="nextCase"
          [trainingSession]="trainingSession">
        </cube-trainer-trainer-input>
      }
    }
    @if (!showTrainerInput) {
      <span class="stopwatch-dialog-stop-area">
        Stop
      </span>
    }
  </div>
  @if (hasStopAndStart) {
    <div mat-dialog-actions class="stopwatch-dialog-actions">
      <button mat-raised-button class="stopwatch-dialog-stop-button" color="primary" [mat-dialog-close]="true">Stop</button>
    </div>
  }
</div>
