<table mat-table class="mat-elevation-z2" [dataSource]="expectedAlgsRows">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> piece </th>
    <td mat-cell *matCellDef="let row"> {{row.pluralName}} </td>
  </ng-container>
  <ng-container matColumnDef="threeCycles">
    <th mat-header-cell *matHeaderCellDef> 3 cycles </th>
    <td mat-cell *matCellDef="let row"> {{row.threeCycles}} </td>
  </ng-container>
  <ng-container matColumnDef="fiveCycles">
    <th mat-header-cell *matHeaderCellDef> 5 cycles </th>
    <td mat-cell *matCellDef="let row"> {{row.fiveCycles}} </td>
  </ng-container>
  <ng-container matColumnDef="doubleSwaps">
    <th mat-header-cell *matHeaderCellDef> double swaps </th>
    <td mat-cell *matCellDef="let row"> {{row.doubleSwaps}} </td>
  </ng-container>
  <ng-container matColumnDef="parities">
    <th mat-header-cell *matHeaderCellDef> parities </th>
    <td mat-cell *matCellDef="let row"> {{row.parities}} </td>
  </ng-container>
  <ng-container matColumnDef="parityTwists">
    <th mat-header-cell *matHeaderCellDef> parity twists/flips </th>
    <td mat-cell *matCellDef="let row"> {{row.parityTwists}} </td>
  </ng-container>
  <ng-container matColumnDef="twoTwists">
    <th mat-header-cell *matHeaderCellDef> 2 twists/flips </th>
    <td mat-cell *matCellDef="let row"> {{row.twoTwists}} </td>
  </ng-container>
  <ng-container matColumnDef="threeTwists">
    <th mat-header-cell *matHeaderCellDef> 3 twists/flips </th>
    <td mat-cell *matCellDef="let row"> {{row.threeTwists}} </td>
  </ng-container>
  <ng-container matColumnDef="fourTwists">
    <th mat-header-cell *matHeaderCellDef> 4 twists/flips </th>
    <td mat-cell *matCellDef="let row"> {{row.fourTwists}} </td>
  </ng-container>
  <ng-container matColumnDef="totalTwists">
    <th mat-header-cell *matHeaderCellDef> total twists/flips </th>
    <td mat-cell *matCellDef="let row"> {{row.totalTwists}} </td>
  </ng-container>
  <mat-text-column name="total"></mat-text-column>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
