<div>
  <h1>Cookie Policy</h1>
  <div>
    <h2>What is a Cookie</h2>
    A cookie is a small piece of text that the browser stores. Every time a user accesses a website, all cookies belonging to this site are sent to the server. See <a href='https://en.wikipedia.org/wiki/HTTP_cookie'>Wikipedia</a> for more information.
  </div>
  <div>
    <h2>What is Local Storage</h2>
    Local storage is a component of the browser that stores information for a website. The information stored is similar to cookies, but it's a more modern mechanism that has enhanced functionality. See <a href='https://en.wikipedia.org/wiki/Web_storage'>Wikipedia</a> for more information.
  </div>
  <div>
    <h2>Cookies used on CubeTrainer</h2>
    <p>
      CubeTrainer uses a cookie called <em>{{consentCookieKey}}</em> to remember that the user has consented to using cookies. The user has to consent to cookies when registering the account and CubeTrainer only sets these after account registration. Furthermore, CubeTrainer uses a cookie called <em>_cube_trainer_session</em>. It was originally used to track the login status. Nowadays it serves no purpose, and we are working on removing it.
    </p>
    <p>
      CubeTrainer uses <a href='https://analytics.google.com/analytics/web'>Google Analytics</a> to understand how users use the website. Google analytics sets two cookies starting with <em>_ga</em>.
    </p>
    <cube-trainer-google-analytics-reference></cube-trainer-google-analytics-reference>
  </div>
  <div>
    <h2>Local Storage used on CubeTrainer</h2>
    CubeTrainer uses local storage to remember which users are logged in. See <a href='https://github.com/neroniaky/angular-token'>angular-token</a> for more information about the exact values that are stored.
  </div>
</div>
