<div>
  <h1>Terms and Conditions</h1>
  <div>
    <h2>Sharing Accounts</h2>
    Sharing Accounts between multiple users is forbidden. The rationale is that sharing alg sheets between users may be tricky for copyright reasons.

    Note that having multiple accounts is allowed as long as the number of accounts is reasonable. See <em>overusing resources</em> below for more details.
  </div>
  <div>
    <h2>Hacking</h2>
    Any sort of hacking to deteriorate the functionality of the site or access private information of other users is strictly forbidden.
  </div>
  <div>
    <h2 id='cube-trainer-overusing-resources'>Overusing Resources</h2>
    The site is intended to be used by human users. Creating scripts or other automatic methods to access the site at a rate that human users couldn't is forbidden. Additionally, doing actions that trigger emails (account creating, password reset etc.) should be done at a reasonable level. Triggering more than 10 emails per day per human user is not reasonable. This includes triggering emails via multiple user accounts.
  </div>
  <div>
    <h2>Security & Privacy Issues</h2>
    Users agree to report any Security and Privacy Issue they discover as quickly as possible. If you discover a security bug, please report it via <a [href]="newSecurityBugLink">{{newSecurityBugLink}}</a> or email <a [href]="'mailto:' + securityBugEmail">{{securityBugEmail}}</a>. We will respond within 14 days and either fix the bug or take the website offline until we have time to fix it.

    Note that this only counts for security bugs, normal bugs should be reported via <a [href]="newIssueLink">Github</a>.
  </div>
</div>
