@if (showImage && (colorScheme || pictureSetup)) {
  <ng-container [matTooltip]="sampleTooltip">
    <twisty-player
      [alg]="pictureSetup"
      [puzzle]="puzzle"
      background="none"
      control-panel="none">
    </twisty-player>
  </ng-container>
}
@if (showName) {
  <span
    [matTooltip]="sampleTooltip"
    class="case"
    >
    {{caseName}}
    <ng-container ngIf*="!caseName">&nbsp;</ng-container>
  </span>
}
@if (showScramble) {
  <span
    class="scramble"
    >
    {{scramble}}
  </span>
}
