<footer class='cube-trainer-footer'>
  <mat-toolbar color="primary">
    <a mat-button routerLink="/about">
      About
    </a>
    <a mat-button routerLink="/privacy-policy">
      Privacy Policy
    </a>
    <a mat-button routerLink="/terms-and-conditions">
      Terms and Conditions
    </a>
    <a mat-button routerLink="/cookie-policy">
      Cookie Policy
    </a>
    <a mat-button routerLink="/contact">
      Contact
    </a>
    <a mat-button routerLink="/disclaimer">
      Disclaimer
    </a>
  </mat-toolbar>
</footer>
