<div>
  <h1>Privacy Policy</h1>
  <div>
    The CubeTrainer team is committed to protecting the privacy of user information to the extent possible. Personal information is not shared with third parties except when required by law.
  </div>

  <div>
    <h2>Information Collected</h2>
    <div>
      <h3>Account Information</h3>
      CubeTrainer uses a form to collect the following information during signup:
      <ul>
        <li>User name</li>
        <li>Email</li>
        <li>Password</li>
      </ul>
    </div>
    <div>
      <h3>Cubing Data</h3>
      CubeTrainer forms and a timer to collect the following information for users that is related
      to solving twisty puzzles. Most of this is related to blindfolded solving:
      <ul>
        <li>color scheme (i.e. how the user prefers cubes to be colored)</li>
        <li>letter scheme (i.e. how the user prefers each sticker to be labelled with a letter)</li>
        <li>buffers (i.e. which piece the user </li>
        <li>which algs and methods the user uses</li>
        <li>times to execute scrambles/algs</li>
        <li>how long the memorization phase of the cube takes</li>
      </ul>
      Users with technical background can check the full database schema on
      <a href="https://github.com/Lykos/cube_trainer/blob/master/db/schema.rb">Github</a>.
    </div>
    <div>
      <h3>Google Analytics</h3>
      <p>
        Our website uses Google Analytics to help us understand how visitors use our site.
        We use this information to improve our content and your experience visiting our site.
        Google Analytics relies on cookies to produce this information.
        Google Analytics does not receive personally identifiable information through these cookies and is prohibited from combining,
        matching or cross-referencing information from our site with any other information. We have also opted not to have Google
        Analytics storability to see your full IP address (a feature known as "IP masking").
      </p>
      <p>
        Please review
        <a href="https://support.google.com/analytics/answer/6004245?hl=en">Google Analytics' privacy policy</a>
        for additional information. It is also possible
        <a href="https://tools.google.com/dlpage/gaoptout/">opt-out of Google Analytics</a>
        for those who wish to do so.
      </p>
      CubeTrainer collects the following data via Google Analytics:
      <ul>
        <li>Internet Protocol (IP) address of computer being used <!-- TODO: But we mask it --></li>
        <li>pages visited</li>
        <li>referring web page</li>
        <li>browser</li>
        <li>date and time</li>
      </ul>
      CubeTrainer does not associate this data to individual user identities.
    </div>
    <div>
      <h3>Cookies</h3>
      Besides the cookies for Google Analytics, we only store one cookie.
      A token is stored while the user is logged in to keep track that the user has logged in.
      This is a token that is understood by our backend but that doesn't otherwise include personal information.
      See our <a routerLink="/cookiePolicy">Cookie policy</a> for more information.
    </div>
    <div>
      <h2>Use of collected information</h2>
      <div>
        <h3>Account Information</h3>
        CubeTrainer will use the <em>email</em> for communicating to the user in the following situations:
        <ul>
          <li>send a link to confirm the email address</li>
          <li>send a link to reset the password</li>
          <li>notify the user of email and password changes</li>
          <li>changes in the privacy policy</li>
          <li>changes in the cookie policy</li>
          <li>changes in the terms and conditions</li>
        </ul>
        CubeTrainer will only use the other personal information listed in <em>account information</em> collected from this site for logging in and reflecting the information back to the user.
      </div>
      <div>
        <h3>Browser Information</h3>
        CubeTrainer uses browser-IP-address information and anonymous-browser history to report information about site accesses and for profiling purposes. This information is used to improve Web presentation and utilization. IP address information may also be used for troubleshooting purposes.
      </div>
      <div>
        <h3>Cubing Data</h3>
        Cubing data is used to reflect it back to the user, collect stats and reflect them back to the users and to allow them to train
        based on their settings and past performances.
      </div>
    </div>
    <div>
      <h2>Deletion of Collected Information</h2>
      The user can delete any piece of cubing data individually via the same views that they used to create the data.
      Furthermore, they can delete all their account data by clicking on their name on the top right and pressing <em>Delete Account</em>.
    </div>
    <div>
      <h2>Retrieval of Collected Information</h2>
      The user can view any piece of cubing data individually via the same views that they used to create the data.
      Furthermore, they can retrieve all their account data by clicking on their name on the top right and pressing <em>Export Account Data</em>.
    </div>
    <div>
      <h2>Distribution of Collected Information</h2>
      CubeTrainer will not disclose, without your consent, personal information collected about you, except for certain explicit circumstances in which disclosure is required by law.
      CubeTrainer will not distribute or sell personal information to third-party organizations.
      Users of the site will not be able to access each others information via CubeTrainer.
    </div>
    <div>
      <h2>Privacy Statement Revisions</h2>
      <div>
        This Privacy Statement was last revised on {{'2021-11-15' | date}}. We may make smaller changes to this Privacy Statement at any time and for any reason.
        We encourage you to review this Privacy Policy each time you visit the web site.
      </div>
      <div>
        If we make a significant change to our Privacy Policy, we will post a notice on the homepage of our web site for a period of time after the change is made.
      </div>
      <div>
        If we make a major change to our Privacy Policy, we will additionally notify users 30 days in advance and give users a chance to delete or change their data.
      </div>
    </div>
    <div>
      <h2>Responsibility for External Sites</h2>
      <p>
        This website may contain links to other web sites. Some of those web sites may be operated by third parties.
        We provide the links for your convenience, but we do not review, control, or monitor the privacy practices of web sites operated by others.
      </p>
      <p>
        We are not responsible for the performance of web sites operated by third parties or for your business dealings with them.
        Therefore, whenever you leave this web site we recommend that you review each web site's privacy practices and make your own conclusions regarding the adequacy of these practices.
      </p>
    </div>
    <!-- TODO: Security -->
    <div>
      <h2>How to contact us</h2>
      <cube-trainer-contact-content></cube-trainer-contact-content>
    </div>
  </div>
</div>
