<div>
  <h1>Change Password</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input type="password" matInput formControlName="currentPassword">
        @if (relevantInvalid(currentPasswordControl) && currentPasswordControl.errors && currentPasswordControl.errors['required']) {
          <mat-error>
            You must provide the <strong>current password</strong>.
          </mat-error>
        }
        @if (relevantInvalid(currentPasswordControl) && currentPasswordControl.errors && currentPasswordControl.errors['wrongcurrentpassword']) {
          <mat-error>
            Wrong <strong>current password</strong>.
          </mat-error>
        }
      </mat-form-field>
      <br>
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input type="password" matInput formControlName="password">
          @if (relevantInvalid(passwordControl) && passwordControl.errors && passwordControl.errors['required']) {
            <mat-error>
              You must provide a <strong>new password</strong>.
            </mat-error>
          }
          @if (relevantInvalid(passwordControl) && passwordControl.errors && passwordControl.errors['minlength']) {
            <mat-error>
              <strong>Password</strong> have at least <strong>6 characters</strong>.
            </mat-error>
          }
        </mat-form-field>
        <br>
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="passwordConfirmation">
            @if (relevantInvalid(passwordConfirmationControl) && passwordConfirmationControl.errors && passwordConfirmationControl.errors['required']) {
              <mat-error>
                You must provide a <strong>password confirmation</strong>.
              </mat-error>
            }
            @if (relevantInvalid(passwordConfirmationControl) && passwordConfirmationControl.errors && passwordConfirmationControl.errors['compare']) {
              <mat-error>
                <strong>Password</strong> must match <strong>password confirmation</strong>.
              </mat-error>
            }
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
              Submit
            </button>
          </mat-card-actions>
        </mat-card-content>
      </form>
    </div>

