<div>
  <h1>Pick Letter Scheme</h1>
  <ng-container *ngIf="letterSchemeForm">
    <form [formGroup]="letterSchemeForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Wing lettering mode</mat-label>
        <mat-select formControlName="wingLetteringMode">
	  <mat-option [value]="likeEdges">like edges</mat-option>
	  <mat-option [value]="likeCorners">like corners</mat-option>
	  <mat-option [value]="likeEdges">custom</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="xcentersLikeCorners">X-centers like corners</mat-checkbox>
      <mat-checkbox formControlName="tcentersLikeEdges">T-centers like wings</mat-checkbox>
      <mat-checkbox formControlName="midgesLikeEdges">midges like wings</mat-checkbox>
      <mat-form-field  *ngIf="!hasCustomizedWingLetters">
        <mat-label>Wing letter sticker</mat-label>
        <mat-select formControlName="invertWingLetter">
	  <mat-option [value]="true">
	    Wing UFr is named like
	    <span>
	      {{ invertWingLetterLike }}
	    </span>
	  </mat-option>
	  <mat-option [value]="false">
	    Wing FUr is named like
	    <span>
	      {{ wingLetterLike }}
	    </span>
	  </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div *ngFor="let partType of customizedPartTypes">
        <mat-label>{{partType.name}}</mat-label>
        <ng-container *ngFor="let part of partType.parts">
          <mat-form-field class="letter-input">
            <mat-label>{{part.name}}</mat-label>
            <input matInput [formControlName]="part.key" type="text" maxlength="1">
            <!-- TODO: Validation -->
          </mat-form-field>
        </ng-container>
        <br>
      </div>
      <div>
        <button mat-raised-button color="primary" type="Submit">Submit</button>
      </div>
    </form>
  </ng-container>
</div>
