<ul>
  <li>The main part of the cube explorer are the <a routerLink="/training-sessions">Sessions</a>. Here you can train commutators or other blind related alg sets. You can also find this by clicking on the <em>Sessions</em> tab on the top.</li>
  <li>You can set up a session by clicking <a routerLink="/training-sessions/new">here</a> or on the <em>New</em> button in the sessions tab. You will go through a flow where you can set up the right alg set, cube size etc.</li>
  <li>In the <a routerLink="/method-explorer">Method Explorer</a> you can calculate the average number of algs needed depending on which alg sets you know. You can also find this by clicking on the <em>Method Explorer</em> tab on the top.</li>
  <li>You can change your settings (like your color scheme and letter scheme), check your achievements and notifications and change your password <a routerLink="/user">here</a>. You can also find this by clicking your user name on the top right.</li>
  <li>In the <a routerLink="/about">About page</a> you can read how CubeTrainer was developed. You can also find this by clicking on <em>About</em> in the footer.</li>
  <li><a routerLink="/contact">Here</a> you can find out how to contact the author or file bugs. You can also find this by clicking on <em>Contact</em> in the footer.</li>
</ul>
