<div>
  <h1>Change Password</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="relevantInvalid(passwordControl) && passwordControl.errors && passwordControl.errors['required']">
          You must provide a <strong>password</strong>.
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="passwordConfirmation">
        <mat-error *ngIf="relevantInvalid(passwordConfirmationControl) && passwordConfirmationControl.errors && passwordConfirmationControl.errors['required']">
          You must provide a <strong>password confirmation</strong>.
        </mat-error>
        <mat-error *ngIf="relevantInvalid(passwordConfirmationControl) && passwordConfirmationControl.errors && passwordConfirmationControl.errors['compare']">
          <strong>Password</strong> must match <strong>password confirmation</strong>.
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </mat-card-actions>
    </mat-card-content>
  </form>
</div>

