@if (trainingSessionType) {
  <div cdkDropListGroup>
    <div class="stats-container">
      <h2>Available stats</h2>
      <div
        cdkDropList
        [cdkDropListData]="statTypes(trainingSessionType)"
        class="stats-list"
        id="stats-list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        @for (statType of statTypes(trainingSessionType); track statType) {
          <div
            class="stats-box"
            cdkDrag
            [matTooltip]="statType.description || ''">
            {{statType.name}}
          </div>
        }
      </div>
    </div>
    <div class="stats-container">
      <h2>Picked Stats</h2>
      <div
        cdkDropList
        [cdkDropListData]="pickedStatTypes"
        class="stats-list"
        id="picked-stats-list"
        (cdkDropListDropped)="drop($event)">
        @for (statType of pickedStatTypes; track statType) {
          <div
            class="stats-box"
            cdkDrag
            [matTooltip]="statType.description || ''">
            {{statType.name}}
          </div>
        }
      </div>
    </div>
  </div>
}
