<div>
  <h1 mat-dialog-title>{{ context.action }} {{ context.subject }} failed!</h1>
  <div mat-dialog-content>
    @if (error.message) {
      <span>
        {{ error.message }}
      </span>
    }
    <!-- This is not an ideal case: We basically don't have any useful information to show. -->
    @if (!error.fieldErrors && !error.message ) {
      <span>
        {{ error.statusText }}
      </span>
    }
    @for (fieldError of error.fieldErrors; track fieldError) {
      <span class="field">
        {{ fieldError.field }}
      </span>
      @if (noMessage(fieldError); as message) {
        <span>
          is invalid.
        </span>
      }
      @if (uniqueMessage(fieldError); as message) {
        <span>
          {{ message }}
        </span>
      }
      @if (multipleMessages(fieldError)) {
        <ul>
          @for (message of fieldError.messages; track message) {
            <li>
              {{ message }}
            </li>
          }
        </ul>
      }
    }
    @if (!error.fieldErrors) {
      <cube-trainer-github-error-note [error]="error"></cube-trainer-github-error-note>
    }
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close>Ok</button>
  </div>
</div>
