<div>
  <h2>All Achievements</h2>
  <div>
    @if (achievements$ | orerror | async; as achievementsOrError) {
      @if (achievementsOrError | value; as achievements) {
        <table mat-table class="mat-elevation-z2" [dataSource]="achievements">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let achievement" matTooltip="{{achievement.description}}">
              {{achievement.name}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let achievement; columns: columnsToDisplay" [routerLink]="['/achievements', achievement.id]"></tr>
        </table>
      } @else {
        <cube-trainer-backend-action-load-error [error]="achievementsOrError | error | backendActionError:context"></cube-trainer-backend-action-load-error>
      }
      <ng-template #error>
        <cube-trainer-backend-action-load-error [error]="achievementsOrError | error | backendActionError:context"></cube-trainer-backend-action-load-error>
      </ng-template>
    } @else {
      <mat-spinner></mat-spinner>
    }
  </div>
</div>
