<div>
  <h2>All Achievements</h2>
  <div>
    <ng-container *ngIf="achievements$ | orerror | async as achievementsOrError; else loading">
      <ng-container *ngIf="achievementsOrError | value as achievements; else error">
        <table mat-table class="mat-elevation-z2" [dataSource]="achievements">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let achievement" matTooltip="{{achievement.description}}">
              {{achievement.name}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr mat-row *matRowDef="let achievement; columns: columnsToDisplay" [routerLink]="['/achievements', achievement.id]"></tr>
        </table>
      </ng-container>
      <ng-template #error>
        <cube-trainer-backend-action-load-error [error]="achievementsOrError | error | backendActionError:context"></cube-trainer-backend-action-load-error>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</div>
