<form [formGroup]="form" (ngSubmit)="onCalculate()">
  <mat-form-field>
    <mat-label>execution order</mat-label>
    <mat-select formControlName="executionOrder">
      <mat-option *ngFor="let executionOrder of executionOrderEnum | keyvalue" [value]="executionOrder.key"> {{executionOrder.key}} </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngFor="let pieceDescription of pieceDescriptions" [formGroup]="pieceMethodDescriptionControl(pieceDescription)">
    <h2> {{ pieceDescription.pluralName }} </h2>
    <mat-checkbox formControlName="avoidUnorientedIfWeCanFloat" *ngIf="canFloat(pieceDescription) && pieceDescription.hasOrientation">
      Avoid flipped/twisted buffers if we still have unsolved buffers
    </mat-checkbox>
    <mat-form-field>
      <mat-label>max floating twists/flips</mat-label>
      <input type="number" matInput formControlName="maxFloatingTwistLength">
    </mat-form-field>
    <div *ngFor="let bufferControl of sortedBufferDescriptionsControls(pieceDescription); index as i" [formGroup]="bufferControl">
      <h3> Buffer {{i + 1}} </h3>
      <mat-select>
        <mat-option *ngFor="let buffer of pieces(pieceDescription)" [value]="buffer.piece"> {{buffer.name}} </mat-option>
      </mat-select>
      <mat-checkbox formControlName="fiveCycles">
        I can do 5 style for this buffer
      </mat-checkbox>
      <button *ngIf="canFloat(pieceDescription)" mat-raised-button color="primary" type="button" (click)="onRemoveBuffer(pieceDescription, i)">
        Remove this buffer
      </button>
      <mat-checkbox formControlName="stayWithSolvedBuffer" *ngIf="i !== 0">
        If all buffers are solved and this is the last buffer, I'll stay with this one (rather than going back to the main buffer).
      </mat-checkbox>
      <mat-form-field>
        <mat-label *ngIf="pieceDescription.hasOrientation">max twists/flips</mat-label>
        <input type="number" matInput formControlName="maxTwistLength">
      </mat-form-field>
      <mat-checkbox formControlName="canDoParityTwists" *ngIf="pieceDescription.hasOrientation">
        I can solve one twist/flip and a parity at once for this buffer.
      </mat-checkbox>
    </div>
    <button mat-raised-button color="primary" type="button" (click)="onAddBuffer(pieceDescription)">Add another buffer</button>
  </div>
  <br>
  <button mat-raised-button color="primary" type="submit">
    Calculate
  </button>
</form>
