<form [formGroup]="form" (ngSubmit)="onCalculate()">
  <mat-form-field>
    <mat-label>execution order</mat-label>
    <mat-select formControlName="executionOrder">
      @for (executionOrder of executionOrderEnum | keyvalue; track executionOrder) {
        <mat-option [value]="executionOrder.key"> {{executionOrder.key}} </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @for (pieceDescription of pieceDescriptions; track pieceDescription) {
    <div [formGroup]="pieceMethodDescriptionControl(pieceDescription)" class="piece-section">
      <h2> {{ pieceDescription.pluralName }} </h2>
      @if (canFloat(pieceDescription) && pieceDescription.hasOrientation) {
        <mat-checkbox formControlName="avoidUnorientedIfWeCanFloat">
          Avoid flipped/twisted buffers if we still have unsolved buffers
        </mat-checkbox>
      }
      @if (canFloat(pieceDescription)) {
        <mat-checkbox formControlName="avoidBuffersForCycleBreaks">
          Avoid buffers for cycle breaks if possible
        </mat-checkbox>
      }
      <mat-form-field class="number-input">
        <mat-label>max floating twists/flips</mat-label>
        <input type="number" matInput formControlName="maxFloatingTwistLength">
      </mat-form-field>
      @for (bufferControl of sortedBufferDescriptionsControls(pieceDescription); track bufferControl; let i = $index) {
        <mat-card [formGroup]="bufferControl">
          <mat-card-title> Buffer {{i + 1}} </mat-card-title>
          <mat-card-content class="form-card-content">
            <mat-select formControlName="buffer" class="buffer-select">
              @for (buffer of piecesWithNames(pieceDescription); track buffer) {
                <mat-option [value]="buffer.piece"> {{buffer.name}} </mat-option>
              }
            </mat-select>
            <mat-checkbox formControlName="fiveCycles">
              I can do 5 style for this buffer
            </mat-checkbox>
            @if (i !== 0) {
              <mat-checkbox formControlName="stayWithSolvedBuffer">
                If all buffers are solved and this is the last buffer, I'll stay with this one (rather than going back to the main buffer).
              </mat-checkbox>
            }
            <mat-form-field class="number-input">
              @if (pieceDescription.hasOrientation) {
                <mat-label>max twists/flips</mat-label>
              }
              <input type="number" matInput formControlName="maxTwistLength">
            </mat-form-field>
            @if (pieceDescription.hasOrientation) {
              <mat-checkbox formControlName="canDoParityTwists">
                I can solve one twist/flip and a parity at once for this buffer.
              </mat-checkbox>
            }
            @if (pieceDescription.hasOrientation) {
              <mat-checkbox formControlName="doUnorientedBeforeParity">
                If I have a single twisted piece, I solve it with a commutator before doing parity.
              </mat-checkbox>
            }
            @if (canDoParityTwists(pieceDescription, i) && pieceDescription.hasOrientation) {
              <mat-checkbox formControlName="doUnorientedBeforeParityTwist">
                If I have a parity twist and an additional twisted piece, I solve it with a commutator before doing the parity twist.
              </mat-checkbox>
            }
          </mat-card-content>
          <mat-card-actions>
            @if (canFloat(pieceDescription)) {
              <button mat-raised-button color="primary" type="button" (click)="onRemoveBuffer(pieceDescription, i)">
                Remove this buffer
              </button>
            }
          </mat-card-actions>
        </mat-card>
      }
      <button mat-raised-button color="primary" type="button" (click)="onAddBuffer(pieceDescription)">Add another buffer</button>
      <cube-trainer-hierarchical-alg-set-select [level]="doubleSwapsTopLevel(pieceDescription)"></cube-trainer-hierarchical-alg-set-select>
    </div>
  }
  <br>
    <button mat-raised-button color="primary" type="submit">
      Calculate
    </button>
  </form>
