@if (trainingSession) {
  @if (active$ | async; as active) {
    <div>
      @if (active.value) {
        <span class="alg mat-elevation-z1" [ngClass]="algSourceClass" [matTooltip]="tooltip">
          {{alg}}
        </span>
      }
      @if (!active.value) {
        <span class="alg mat-elevation-z1"> &nbsp; </span>
      }
    </div>
    <button mat-raised-button [disabled]="!alg || !active.value" color="primary" (click)="onOverride()">
      Override
    </button>
    <button mat-raised-button id="trainer-hint" color="primary" [disabled]="!alg || active.value" (click)="onHint(trainingSession)">
      Reveal Alg
    </button>
  }
  <button [disabled]="!trainingCase || alg" mat-raised-button color="primary" (click)="onSet()">
    Set Alg
  </button>
}
