<div *ngIf="alg">
  <ng-container *ngIf="active$ | async as active">
    <div *ngIf="active.value">
      <span class="alg">{{alg}}</span>
      <button mat-raised-button color="primary" (click)="onOverride()">
        Override
      </button>
    </div>
    <button mat-raised-button id="trainer-hint" color="primary" *ngIf="!active.value" (click)="onHint()">
      Reveal Alg
    </button>
  </ng-container>
</div>
<button *ngIf="alg">
  <button mat-raised-button color="primary" (click)="onSet()">
    Set Alg
  </button>
</button>
