<div>
  <h1>Method Explorer</h1>
  <cube-trainer-method-description-form (submitMethodDescription)="calculate($event)">
  </cube-trainer-method-description-form>
  @if (expectedAlgsData$) {
    @if (expectedAlgsData$ | orerror | async; as expectedAlgsDataOrError) {
      @if (expectedAlgsDataOrError | value; as expectedAlgsData) {
        <cube-trainer-alg-counts-table [expectedAlgsData]="expectedAlgsData"></cube-trainer-alg-counts-table>
      }
      @if (expectedAlgsDataOrError | error; as error) {
        <div class="error">
          Error computing expected total algs: {{ error }}
        </div>
      }
    } @else {
      <mat-spinner></mat-spinner>
    }
  }
</div>
