<div>
  <h1>Method Explorer</h1>
  <ng-container *ngIf="expectedAlgsData$ | orerror | async as expectedAlgsDataOrError; else loading">
    <ng-container *ngIf="expectedAlgsDataOrError | value as expectedAlgsData">
      <cube-trainer-alg-counts-table [expectedAlgsData]="expectedAlgsData"></cube-trainer-alg-counts-table>
    </ng-container>
    <div class="error" *ngIf="expectedAlgsDataOrError | error as error">
      Error computing expected total algs: {{ error }}
    </div>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
