<div>
  <h1>Terms and Conditions</h1>
  <div>
    <h2>Sharing Accounts</h2>
    Sharing Accounts between multiple users is forbidden. The rationale is that sharing alg sheets between users may be tricky for copyright reasons.

    Note that having multiple accounts is allowed as long as the number of accounts is reasonable. See overusing resources for more details. TODO add anchor.
  </div>
  <div>
    <h2>Hacking</h2>
  </div>
  <div>
    <h2>Overusing Resources</h2>
  </div>
  <div>
    <h2>Security & Privacy Issues</h2>
    Users agree to report any Security and Privacy Issue they discover as quickly as possible. TODO: Link for doing that
  </div>
</div>
