<div>
  <h1>Terms and Conditions</h1>
  <div>
    <h2>Sharing Accounts</h2>
    Sharing Accounts between multiple users is forbidden. The rationale is that sharing alg sheets between users may be tricky for copyright reasons.

    Note that having multiple accounts is allowed as long as the number of accounts is reasonable. See overusing resources for more details. TODO add anchor.
  </div>
  <div>
    <h2>Hacking</h2>
    Any sort of hacking to deteriorate the functionality of the site or access private information of other users is strictly forbidden.
  </div>
  <div>
    <h2>Overusing Resources</h2>
    The site is intended to be used by human users. Creating scripts or other automatic methods to access the site at a rate that human users couldn't is forbidden. Additionally, doing actions that trigger emails (account creating, password reset etc.) should be done at a reasonable level. Triggering more than 10 emails per day per human user is not reasonable. This includes triggering emails via multiple user accounts.
  </div>
  <div>
    <h2>Security & Privacy Issues</h2>
    Users agree to report any Security and Privacy Issue they discover as quickly as possible. TODO: Link for doing that
  </div>
</div>
