<!-- This is separate form the contact component s.t. it can be reused in other places -->
<div>
  <p>
    Maintainer:
    <cube-trainer-maintainer-name></cube-trainer-maintainer-name>
  </p>
  <p>
    Email:
    <a [href]="'mailto:' + contactEmail">{{contactEmail}}</a>
  </p>
  <p>
    Link for reporting bugs:
    <a [href]="newBugLink">{{newBugLink}}</a>
  </p>
  <p>
    Link for reporting feature requests:
    <a [href]="newFeatureRequestLink">{{newFeatureRequestLink}}</a>
  </p>
  <p>
    Link for reporting security bugs:
    <a [href]="newSecurityBugLink">{{newSecurityBugLink}}</a>
  </p>
  <p>
    Email for reporting security bugs:
    <a [href]="'mailto:' + securityBugEmail">{{securityBugEmail}}</a>
  </p>
</div>
