<mat-toolbar color="primary">
  <ng-container *ngIf="loggedIn">
    <a id="toolbar-title" mat-button routerLink="/modes">
      Cube Trainer
    </a>
  </ng-container>
  <div class="horizontal-spacer"></div>
  <ng-container *ngIf="!loggedIn; else loggedInBlock">
    <a id="toolbar-login" mat-button routerLink="/login">
      Login
    </a>
    <a id="toolbar-signup" mat-button routerLink="/signup">
      Sign Up
    </a>
  </ng-container>
  <ng-template #loggedInBlock>
    <a mat-button routerLink="/user" [matBadge]="unreadMessagesBadge" matBadgeColor="accent">
      {{userName}}
    </a>
    <a mat-button routerLink="/logout">
      Logout
    </a>
  </ng-template>
</mat-toolbar>
