<div>
  <h2>Messages</h2>
  <div>
    @if (messages$ | orerror | async; as messagesOrError) {
      @if (messagesOrError | value; as messages) {
        <table mat-table class="mat-elevation-z2" [dataSource]="messages">
          @if (allSelected$ | async; as allSelected) {
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle(messages, allSelected.value) : null"
                  [checked]="selection.hasValue() && allSelected.value"
                  [indeterminate]="selection.hasValue() && !allSelected.value"
                  [aria-label]="checkboxLabel(allSelected.value)">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let message">
                <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(message) : null"
                  [checked]="selection.isSelected(message)"
                  [aria-label]="checkboxLabel(allSelected.value, message)">
                </mat-checkbox>
              </td>
            </ng-container>
          }
          <mat-text-column name="title"></mat-text-column>
          <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef> Timestamp </th>
            <td mat-cell *matCellDef="let message"> {{message.timestamp | instant}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
          <tr
            mat-row
            *matRowDef="let message; columns: columnsToDisplay"
            [routerLink]="routerLink(message)"
            [class.read-message]="message.read"
            [class.unread-message]="!message.read">
          </tr>
        </table>
      } @else {
        <cube-trainer-backend-action-load-error [error]="messagesOrError | error | backendActionError:context"></cube-trainer-backend-action-load-error>
      }
      <ng-template #error>
        <cube-trainer-backend-action-load-error [error]="messagesOrError | error | backendActionError:context"></cube-trainer-backend-action-load-error>
      </ng-template>
    } @else {
      <mat-spinner></mat-spinner>
    }
    @if (selection.hasValue()) {
      <button #deleteButton mat-fab (click)="onDeleteSelected()">
        <span class="material-icons">delete</span>
      </button>
    }
    @if (selection.hasValue()) {
      <button #deleteButton mat-fab (click)="onMarkAsReadSelected()">
        <span class="material-icons">check_circle</span>
      </button>
    }
  </div>
</div>
