<div class="stopwatch">
  <h2>Time</h2>
  <ng-container *ngIf="duration$ | async as duration">
    <div class="stopwatch-time" [ngClass]="{'post-memo-time': running && isPostMemoTime(duration)}"> {{duration | duration}} </div>
  </ng-container>
  <div>
    <ng-container *ngIf="running">
      <button mat-raised-button *ngIf="hasStopAndStart" color="primary" (click)="onStopAndStart()">
        Stop and Start
      </button>
      <button mat-raised-button color="primary" (click)="onStopAndPause()">
        <ng-container *ngIf="hasStopAndStart">
          Stop and Pause
        </ng-container>
        <ng-container *ngIf="!hasStopAndStart">
          Stop
        </ng-container>
      </button>
    </ng-container>
    <ng-container *ngIf="!running">
      <button mat-raised-button *ngIf="!loading" color="primary" (click)="onStart()">
        Start
      </button>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </ng-container>
  </div>
</div>
