<div class="stopwatch">
  <a class="stopwatch-time" [ngClass]="{'post-memo-time': running && isPostMemoTime}"> {{displayedDuration | duration}} </a>
  <div>
    <button mat-raised-button id="stopwatch-start" color="primary" (click)="onStart()" [matTooltip]="startTooltip" [disabled]="running || !startReady">
      Start
    </button>
    @if (hasStopAndStart) {
      <button mat-raised-button id="stopwatch-stop-and-start" color="primary" (click)="onStopAndStart()" [matTooltip]="stopAndStartTooltip" [disabled]="!running">
        Stop and Start
      </button>
    }
    @if (hasStopAndPause) {
      <button mat-raised-button id="stopwatch-stop-and-pause" color="primary" (click)="onStopAndPause()" [disabled]="!running">
        @if (hasStopAndStart) {
          <ng-container [matTooltip]="stopAndPauseTooltip">
            Stop and Pause
          </ng-container>
        }
        @if (!hasStopAndStart) {
          <ng-container [matTooltip]="stopTooltip">
            Stop
          </ng-container>
        }
      </button>
    }
    @if (!startReady && !running) {
      <mat-spinner id="stopwatch-loading"></mat-spinner>
    }
  </div>
</div>
