<div class="stopwatch">
  <h2>Time</h2>
  <div class="stopwatch-time" [ngClass]="{'post-memo-time': running && isPostMemoTime}"> {{displayedDuration | duration}} </div>
  <div>
    <ng-container *ngIf="running">
      <button mat-raised-button id="stopwatch-stop-and-start" *ngIf="hasStopAndStart" color="primary" (click)="onStopAndStart()" [matTooltip]="stopAndStartTooltip">
        Stop and Start
      </button>
      <button mat-raised-button id="stopwatch-stop-and-pause" color="primary" (click)="onStopAndPause()">
        <ng-container *ngIf="hasStopAndStart" [matTooltip]="stopAndPauseTooltip">
          Stop and Pause
        </ng-container>
        <ng-container *ngIf="!hasStopAndStart" [matTooltip]="stopTooltip">
          Stop
        </ng-container>
      </button>
    </ng-container>
    <ng-container *ngIf="!running">
      <button mat-raised-button id="stopwatch-start" *ngIf="startReady" color="primary" (click)="onStart()" [matTooltip]="startTooltip">
        Start
      </button>
      <mat-spinner id="stopwatch-loading" *ngIf="!startReady"></mat-spinner>
    </ng-container>
  </div>
</div>
