<h1>Hackerman</h1>
You, hackerman, have saved the day and hacked this website. To compliment your unlimited skills, you can enter any bash command and we will run it on our servers:
<input type="text">
