<div>
  <h1>Pick Color Scheme</h1>
  <form [formGroup]="colorSchemeForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>U</mat-label>
      <mat-select formControlName="colorU" id="colorSelectU">
        @for (color of colorEnum | keyvalue; track color) {
          <mat-option [value]="color.value"> {{color.key}} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>F</mat-label>
      <mat-select formControlName="colorF" id="colorSelectF">
        @for (color of colorEnum | keyvalue; track color) {
          <mat-option [value]="color.value"> {{color.key}} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="Submit">Submit</button>
    </div>
  </form>
</div>
