<div *ngIf="nextCase$ | async as nextCase">
  <ng-container *ngIf="nextCase.tag !== 'sample'">
    <div id="trainer-input">
      <cube-trainer-trainer-input
	[scrambleOrSample]="nextCase"
	[trainingSession]="trainingSession">
      </cube-trainer-trainer-input>
    </div>
  </ng-container>
  <ng-container *ngIf="nextCase.tag === 'sample'">
    <div id="trainer-input">
      <cube-trainer-trainer-input
	[scrambleOrSample]="currentCase$ | async"
	[trainingSession]="trainingSession"
	[colorScheme]="colorScheme$ | async">
      </cube-trainer-trainer-input>
    </div>
    <ng-container *ngIf="currentCase$ | async as currentCase">
      <!-- Note that this if will always be true in practice because the currentCase and nextCase will always have the same tag. -->
      <ng-container *ngIf="currentCase.tag === 'sample'">
	<cube-trainer-hint
	  [trainingCase]="currentCase.sample.item"
	  [trainingSession]="trainingSession">
	</cube-trainer-hint>
      </ng-container>
    </ng-container>
  </ng-container>
  <div id="trainer-stopwatch">
    <cube-trainer-trainer-stopwatch [trainingSession]="trainingSession">
    </cube-trainer-trainer-stopwatch>
  </div>
</div>
