<div>
  <ng-container *ngIf="trainingSession">
    <div layout="row" layout-sm="column">
      <div flex *ngIf="nextCase$ | async as nextCase">
	<ng-container *ngIf="currentCase$ | async as currentCase">
          <div id="trainer-input">
            <cube-trainer-trainer-input
              [scrambleOrSample]="currentCase"
              [trainingSession]="trainingSession">
            </cube-trainer-trainer-input>
          </div>
          <ng-container *ngIf="currentCase.tag === 'sample'">
            <cube-trainer-hint
              [trainingCase]="currentCase.sample.item"
              [trainingSession]="trainingSession">
            </cube-trainer-hint>
          </ng-container>
	</ng-container>
        <div id="trainer-stopwatch">
          <cube-trainer-trainer-stopwatch [trainingSession]="trainingSession">
          </cube-trainer-trainer-stopwatch>
        </div>
      </div>
      <div id="results-table" flex>
        <cube-trainer-results-table [trainingSessionId]="trainingSession.id"></cube-trainer-results-table>
      </div>
      <div flex>
        <cube-trainer-stats-table></cube-trainer-stats-table>
      </div>
    </div>
  </ng-container>
  <div id="initial-load-error" *ngIf="error$ | async as error">
    <cube-trainer-backend-action-load-error [error]="error"></cube-trainer-backend-action-load-error>
  </div>
  <mat-spinner id="initial-load-loading" *ngIf="loading$ | async"></mat-spinner>
</div>
