<div>
  <h1 mat-dialog-title>What alg should be used for {{trainingCase.caseName}}?</h1>
  <div mat-dialog-content id="cube-trainer-override-alg-input">
    <mat-form-field appearance="fill">
      <mat-label>Alg Override</mat-label>
      <input matInput [(ngModel)]="algOverride.alg" type="text">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="algOverride">Override</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="undefined">Cancel</button>
  </div>
</div>
